
    body {
      background-color: #0f172a;
      color: white;
      font-family: 'Segoe UI', sans-serif;
    }





    .prompt-item {
      display: grid;
      grid-template-columns: auto 1fr auto;
      gap: 1rem;
      padding: 0.75rem 1rem;
      border-bottom: 1px solid var(--bs-secondary);
      align-items: center;
    }
    



.prompt-item:hover {
  background-color: #2a2a40;
  box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.05);
}

.btn-copy {
  border: 1px solid #0ea5e9;
  color: #0ea5e9;
  background: transparent;
  border-radius: 6px;
  padding: 0.25rem 0.75rem;
  display: flex;
  align-items: center;
}
.btn-copy:hover {
  background-color: #0ea5e9;
  color: #fff;
}


.accordion-button {
  background-color: #0d1b2a;
  color: #f8f9fa;
  border: none;
}
.accordion-button:not(.collapsed) {
  background-color: #1b263b;
  color: #fff;
}
.accordion-body {
  background-color: #1e1e2f;
}
.accordion-item {
  border-radius: 0.5rem;
  margin-bottom: 0.75rem;
}


.accordion-button::after {
  margin-left: 0.5rem;
}
.accordion-button:not(.collapsed)::after {
  transform: rotate(-180deg);
}


.btn-outline-light i {
  width: 18px;
  height: 18px;
  stroke-width: 1.5;
}

.btn-icon {
  background-color: transparent;
  border: 1px solid #444;
  border-radius: 0.5rem;
  padding: 0.4rem;
  transition: all 0.2s ease;
  color: #bbb;
}
.btn-icon:hover {
  border-color: #6ea8fe;
  color: #fff;
  background-color: #1a1a1a;
}
.btn-icon i {
  width: 20px;
  height: 20px;
}



.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 100,     /* peso normal */
    'GRAD' 0,
    'opsz' 24;
  font-size: 20px;
}

/* Pesos personalizados */
.icon-regular {
  font-variation-settings: 'FILL' 0, 'wght' 100, 'GRAD' 0, 'opsz' 15;
}
.icon-bold {
  font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 0, 'opsz' 24;
}
.icon-fill {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}


.tooltip-dark.bs-tooltip-top .tooltip-inner {
  background-color: #1e1e2f;
  color: #fff;
  font-size: 0.8rem;
  border-radius: 0.4rem;
  padding: 6px 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}
.tooltip-dark .tooltip-arrow::before {
  border-top-color: #1e1e2f;
}
#searchResults {
  background: #1e1e2f;
  color: #fff;
  border-radius: 0 0 0.5rem 0.5rem;
  border: 1px solid #444;
  display: none;
}
#searchResults li {
  padding: 8px 12px;
  cursor: pointer;
}
#searchResults li:hover {
  background: #2a2a40;
}

.prompt-hover .action-buttons {
  opacity: 0;
  transform: translateX(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.prompt-hover:hover .action-buttons {
  opacity: 1;
  transform: translateX(0);
}


.favorito-toggle {
  cursor: pointer;
  transition: color 0.2s ease;
}
.favorito-toggle:hover {
  color: gold;
}

